body {
  box-shadow:0 0 15px;
  border-radius:6px;
  border:1px solid #551a8b;
  font-family:Courier,sans-serif;
  border-style:double;
  padding: 30px;
  
}

div{
  background-color:#e6e6fa;
  padding:30px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
}
div#main{
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
}

div#rest{
text-align:center;
  padding-bottom: 30px;
}

button {
  padding: 2px 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #0047ab;
  border: none;
  border-radius: 15px;
}

.button:hover {background-color: #add8e6}

.button:active {
  background-color: #3e8e41;;
}
